<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Deneme
    body
        a(target="_blank" href="https://api.instagram.com/oauth/authorize?client_id=2941726619215643&redirect_uri=https://senintablon.herokuapp.com/auth&scope=user_profile,user_media&response_type=code") Instagram photos